.tabla-con-scroll {
  overflow-x: auto;
  max-height: 300px; /* límite vertical */
  overflow-y: auto;
  border-radius: 10px;
}

/* Para que el scroll no rompa el borde */
.tabla-con-scroll table {
  margin-bottom: 0;
}

/* Limita el ancho de la tabla de pasantes dentro del card */
.tabla-pasantes {
  max-width: 600px;    /* define el ancho de la tabla */
  margin: 0 auto;      /* centra la tabla horizontalmente */
  width: 100%;         /* asegura que la tabla se adapte dentro de ese ancho */
}

