  .fondoPantalla {
      background: url('https://i.pinimg.com/736x/e1/a2/15/e1a2158466becabc21c89966ac448df3.jpg') no-repeat center center fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
  }

  .texto-recomendacion {
      background: rgba(255, 255, 255, 0.8);
      padding: 12px;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 15px;
      border-radius: 8px;
  }

  footer {
      background: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 12px 0;
      text-align: center;
      margin-top: 0px;
  }