<div class="p-5 bg-primary text-white text-center">
  <h1 class="fw-bold">Eliminar turno</h1>
</div>
<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Especialista</th>
        <th>Paciente</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnos">
        <td>{{ turno.idTurno }}</td>
        <td>{{ turno.fecha | date:'dd-MM-yyyy' }}</td>
        <td>{{ turno.horario }}</td>
        <td>{{ turno.estado}}</td>
        <td>{{ turno.nombreEspecialista}}</td>
        <td>{{ turno.nombrePaciente}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="eliminarTurno(turno.idTurno)">
            Eliminar
          </button>
        </td>
      </tr>
      <tr *ngIf="turnos.length === 0">
        <td colspan="4" class="text-center text-muted">No hay insumos cargados</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-secondary mt-3" routerLink="/admin/gestionar-turnos">
    Volver
  </button>
</div>